@model Lake_of_the_Humber.Models.StaffInfoDto

@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Delete Confirmation</h2>

<h3>Are you sure you want to delete the staff below? </h3>
<div>
    <h4>Dr. @Model.StaffFirstName @Model.StaffLastName</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DepartmentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StaffFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StaffFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StaffLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StaffLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StaffLanguage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StaffLanguage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StaffHasPic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StaffHasPic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StaffImagePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StaffImagePath)
        </dd>

    </dl>

    @using (Html.BeginForm("Delete", "StaffInfo", new { id = Model.StaffID }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "List")
        </div>
    }
</div>