@model Lake_of_the_Humber.Models.ViewModels.ShowStaff

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StaffInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.department.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.department.DepartmentName)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.User.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.FirstName)
            </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.staffinfo.StaffFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.staffinfo.StaffFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.staffinfo.StaffLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.staffinfo.StaffLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.staffinfo.StaffLanguage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.staffinfo.StaffLanguage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.staffinfo.StaffHasPic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.staffinfo.StaffHasPic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.staffinfo.StaffImagePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.staffinfo.StaffImagePath)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.staffinfo.StaffID }) |
    @Html.ActionLink("Back to List", "List")
</p>
