@model Lake_of_the_Humber.Models.ViewModels.ShowStaff

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4> Dr. @Model.staffinfo.StaffFirstName @Model.staffinfo.StaffLastName</h4>
    <hr />
    <div>@Html.ActionLink("Delete", "DeleteConfirm", new { id = Model.staffinfo.StaffID})</div>
    @{
        //Use server rendering to determine an image
        string pic = "/Content/Staffs/default.jpg";
        string alt = "Staff Image Not Provided.";
        if (Model.staffinfo.StaffHasPic)
        {
            pic = "/Content/Staffs/" + Model.staffinfo.StaffID + "." + Model.staffinfo.StaffImagePath;
            alt = "Profile shot of Dr. " + Model.staffinfo.StaffFirstName + Model.staffinfo.StaffLastName;
        }
    }
    <div class="imagecontainer featured">
        <img src="@pic" alt="@alt" />
    </div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.userInfo.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userInfo.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.staffinfo.StaffFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.staffinfo.StaffFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.staffinfo.StaffLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.staffinfo.StaffLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.staffinfo.StaffLanguage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.staffinfo.StaffLanguage)
        </dd>
        @* public does not need to know bout staffHasPi and StaffImagePath
        <dt>
            @Html.DisplayNameFor(model => model.staffinfo.StaffHasPic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.staffinfo.StaffHasPic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.staffinfo.StaffImagePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.staffinfo.StaffImagePath)
        </dd>
        *@
        <dt>
            @Html.DisplayNameFor(model => model.department.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.department.DepartmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.department.DepartmentPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.department.DepartmentPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.department.DepartmentAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.staffinfo.DepartmentAddress)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.staffinfo.StaffID }) |
    @Html.ActionLink("Back to List", "List")
</p>
