@model Lake_of_the_Humber.Models.WellWishDto

@{
    ViewBag.Title = "Details";
}

<h2>Well Wishes</h2>

<div>
    <h4>Wish Details</h4>
    <hr />
    <div>
        @if (Model.IsReceived == false)
        {
            // The only update that can be done is, marking the wellwishes as delivered and its done here
            // @Html.ActionLink("Mark as Delivered", "Edit", new { id = Model.WishId });
            using (Html.BeginForm("Edit", "WellWishes", new { id = Model.WishId }))
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Mark as Delivered" class="btn btn-default" />
                </div>
            }
        }
    </div>
    <br/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WishId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WishId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceiverName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceiverName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsReceived)
        </dt>

        @if (Model.IsReceived == true)
        {
            <dd> @Html.Encode("Yes") </dd>
            <dt> @Html.DisplayNameFor(model => model.ReceivedDate) </dt>
            <dd> @Html.DisplayFor(model => model.ReceivedDate) </dd>
        }
        else
        {
            <dd> @Html.Encode("No")</dd>
        }
    </dl>
</div>
<div>
    @Html.ActionLink("Back to List", "List")
</div>
