@model Lake_of_the_Humber.Models.ViewModels.WellWishes.ListWishes

@{
    ViewBag.Title = "Well Wishes";
}

<h2>Well Wishes</h2>

@if (!Model.isadmin) { 
<p>
    @Html.ActionLink("Send Well Wishes", "Create")
</p>
}

@if (Model.wishes.Count() == 0)
{
    <p>No Wellwishes to show</p>
}
else
{
<table class="table">
    <tr>
        <th>
            Room Number
        </th>
        <th>
            Receiver Name
        </th>
        <th>
            Sender Name
        </th>
        <th>
            Delivered
        </th>
        <th></th>
    </tr>
    @foreach(var wish in Model.wishes)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => wish.RoomNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => wish.ReceiverName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => wish.CreatorName)
    </td>
    <td>
        @if (wish.IsReceived == true)
        {
            @Html.Encode("Yes")
        }
        else
        {
            @Html.Encode("No")
        }
    </td>
    @if (Model.isadmin)
    {
        <td>
            @Html.ActionLink("View Message", "Details", new { id = wish.WishId }) |
            @Html.ActionLink("Delete", "DeleteConfirm", new { id = wish.WishId })
        </td>
    }
</tr>
    }
</table>
}
