@model Lake_of_the_Humber.Models.ViewModels.UpdateInvoice

@{
    ViewBag.Title = "Create";
}

<h2>Create an Invoice</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Fill in the information below to create an invoice.</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.invoice.InvoiceTitle, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.invoice.InvoiceTitle, new { htmlAttributes = new { @class = "form-control", Name = "InvoiceTitle" } })
            @Html.ValidationMessageFor(model => model.invoice.InvoiceTitle, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.invoice.InvoiceDesc, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.invoice.InvoiceDesc, new { htmlAttributes = new { @class = "form-control", Name = "InvoiceDesc" } })
            @Html.ValidationMessageFor(model => model.invoice.InvoiceDesc, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.invoice.InvoiceCost, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.invoice.InvoiceCost, new { htmlAttributes = new { @class = "form-control", Name = "InvoiceCost" } })
            @Html.ValidationMessageFor(model => model.invoice.InvoiceCost, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.invoice.UserId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.invoice.UserId, new { htmlAttributes = new { @class = "form-control", Name = "UserId" } })
            @Html.ValidationMessageFor(model => model.invoice.UserId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "List")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
