@model Lake_of_the_Humber.Models.ViewModels.ListInvoice

@{
    ViewBag.Title = "List";
}

@if (Model.isadmin)
{
    <h2>Invoice Database</h2>
}
@if (Model.isuser)
{
    <h2>Your Invoices</h2>
}


<!--Will be restricted to only be seen by Admins-->
<p class>
    @if (Model.isadmin)
    {
        @Html.ActionLink("Create Invoice", "Create", new { @class = "btn btn-primary" })
    }
</p>


<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Description
        </th>
        <th>
            Date Issued
        </th>
        <th>
            Cost
        </th>
        <th>
            Payment Status
        </th>
        @if (Model.isadmin)
        {
            <th>
                Patient Info (Name & ID)
            </th>
        }
        <th></th>
    </tr>

    @foreach (var invoice in Model.invoices)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => invoice.InvoiceTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => invoice.InvoiceDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => invoice.DInvoiceDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => invoice.InvoiceCost)
            </td>
            <td>
                @if ((invoice.IsPaid) != true)
                {
                    <p> Outstanding Payment </p>
                }
                else
                {
                    <p> Paid </p>
                }
            </td>
            @if (Model.isadmin)
            {
        <td>
            @Html.DisplayFor(modelItem => invoice.FirstName) @Html.DisplayFor(modelItem => invoice.LastName):<br />@Html.DisplayFor(modelItem => invoice.UserId)
        </td>
            }
        <td>

            @if (Model.isadmin)
            {
                @Html.ActionLink("Edit", "Edit", new { id = invoice.InvoiceId })<span> | </span>
            }

            @Html.ActionLink("Details", "Details", new { id = invoice.InvoiceId })

            @if (Model.isuser)
            {
                if ((invoice.IsPaid) != true)
                {
                    <span> | </span> @Html.ActionLink("Make Payment", "", new { id = invoice.InvoiceId })
                }
            }

            @if (Model.isadmin)
            {
                <span> | </span> @Html.ActionLink("Delete", "DeleteConfirm", new { id = invoice.InvoiceId })
            }
        </td>
        </tr>
    }

</table>
