@model IEnumerable<Lake_of_the_Humber.Models.InvoiceDto>

@{
    ViewBag.Title = "List";
}

<h2>Invoice Database</h2>

<!--Will be restricted to only be seen by Admins-->
<p>
    @Html.ActionLink("Create Invoice", "Create")
</p>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceCost)
        </th>
        <th>
            Payment Status
        </th>
        <th>
            Patient ID
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DInvoiceDate)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.InvoiceCost)
            </td>
            <td>
                @if ((item.IsPaid) != true)
                {
                    <p> Outstanding Payment </p>
                }
                else
                {
                    <p> Paid </p>
                }
            </td>
            <!--Will be restricted to only be seen by Admins-->
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>

                <!--Will be restricted to only be seen by Admins-->
                @Html.ActionLink("Edit", "Edit", new { id = item.InvoiceId }) |


                @Html.ActionLink("Details", "Details", new { id = item.InvoiceId }) |

                <!--Will be restricted to only be seen by Admins-->
                @Html.ActionLink("Delete", "DeleteConfirm", new { id = item.InvoiceId })
            </td>
        </tr>
    }

</table>
