@model IEnumerable<Lake_of_the_Humber.Models.OrderDto>

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderID)
        </th>
        <th>
            Ordered By
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>

    <td>
        @Html.DisplayFor(modelItem => item.OrderID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.OrderName)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.OrderID }) |
        @Html.ActionLink("Details", "Details", new { id = item.OrderID })

    </td>
</tr>
    }

</table>