@model Lake_of_the_Humber.Models.ViewModels.ShowAppointment

@{
    ViewBag.Title = "Details";
}

<h2>Appointment #@Model.appointment.AppId</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.appointment.AppMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.appointment.AppMethod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.appointment.AppPurpose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.appointment.AppPurpose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.appointment.AppDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.appointment.DAppDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.appointment.AppTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.appointment.AppTime)
        </dd>

        <dt>
            Doctor ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.appointment.StaffId)
        </dd>

        <dt>
            Patient ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.appointment.UserId)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.appointment.AppId }) |
    @Html.ActionLink("Back to List", "List")
</p>
