@model Lake_of_the_Humber.Models.ViewModels.ShowAppointment

@{
    ViewBag.Title = "Details";
}

<h2>Appointment (ID: @Model.appointment.AppId)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.appointment.AppMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.appointment.AppMethod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.appointment.AppPurpose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.appointment.AppPurpose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.appointment.AppDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.appointment.DAppDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.appointment.AppTime) (24hr Clock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.appointment.AppTime)
        </dd>

        <dt>
            Doctor Information
        </dt>

        <dd>
            Dr. @Model.staffInfo.StaffFirstName @Model.staffInfo.StaffLastName
        </dd>

        @if (Model.isadmin)
        {
            <dt>
                Patient Information
            </dt>

            <dd>
                Name: @Model.userInfo.FirstName @Model.userInfo.LastName<br />
                Email: @Model.userInfo.Email<br />
                Id: @Model.userInfo.Id
            </dd>
        }

        </dl>
</div>
<p>
    @if (Model.isadmin)
    {
        if (Model.appointment.AppDate > DateTime.Now)
        {
            @Html.ActionLink("Modify Appointment", "Edit", new { id = Model.appointment.AppId }) <span>|</span>
        }
    }
        @Html.ActionLink("Back to List", "List")
    </p>
