@model Lake_of_the_Humber.Models.ViewModels.ListAppointment

@{
    ViewBag.Title = "List";
}

@if (Model.isadmin)
{
    <h2>Appointment Database</h2>
}
@if (Model.isuser)
{
    <h2>Your Appointments</h2>
}

<p>
        @Html.ActionLink("Book An Appointment", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Method
        </th>
        <th>
            Description
        </th>
        <th>
            Date
        </th>
        <th>
            Time (24hr Clock)
        </th>
        <th>
            Doctor
        </th>
        @if (Model.isadmin)
        {
            <th>
                Patient
            </th>
        }
    </tr>

    @foreach (var appointment in Model.appointment)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => appointment.AppMethod)
    </td>
    <td>
        @Html.DisplayFor(modelItem => appointment.AppPurpose)
    </td>
    <td>
        @Html.DisplayFor(modelItem => appointment.DAppDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => appointment.AppTime)
    </td>
    <td>
        Dr. @Html.DisplayFor(modelItem => appointment.StaffFirstName) @Html.DisplayFor(modelItem => appointment.StaffLastName)

    </td>
    @if (Model.isadmin)
    {
        <td>
            @Html.DisplayFor(modelItem => appointment.FirstName) @Html.DisplayFor(modelItem => appointment.LastName)<br />[@Html.DisplayFor(modelItem => appointment.UserId)]
        </td>
    }
    <td>

    <td>
        @Html.ActionLink("Details", "Details", new { id = appointment.AppId })

        @if (appointment.AppDate > DateTime.Now)
        {
            <span>|</span> @Html.ActionLink("Modify Appointment", "Edit", new { id = appointment.AppId })
            <span>|</span> @Html.ActionLink("Cancel Appointment", "DeleteConfirm", new { id = appointment.AppId })
        }
    </td>
</tr>
    }

</table>
