

@model IEnumerable<Lake_of_the_Humber.Models.VolunteerDto>

@{
    ViewBag.Title = "List Volunteers";
}
<h1>Volunteer Positions:</h1>
<button type="button" class="btn btn-outline-primary">
    @Html.ActionLink("Add Volunteer", "Create")
</button>
@*<a class="btn btn-primary" href=' @Html.ActionLink("Add Volunteer", "Create")' role="button">Add Volunteer</a>*@
<br />
@foreach (var volunteeritem in Model)
{

    <a href="/volunteer/Details/@volunteeritem.VolunteerId">
        <div class="card">
            <h5 class="card-header">@volunteeritem.VolunteerTitle</h5>
            <div class="card-body">
                <h5 class="card-title">@volunteeritem.VolunteerDescription</h5>
                <p class="card-text">@volunteeritem.VolunteerDate</p>
                <button type="button" class="btn btn-outline-primary">
                    @Html.ActionLink("Edit", "Edit", new { id = volunteeritem.VolunteerId })
                </button>
                <button type="button" class="btn btn-outline-primary">
                    @Html.ActionLink("Details", "Details", new { id = volunteeritem.VolunteerId })
                </button>

            </div>
        </div>
    </a>

    @* <a href="/faq/show/@faqitem.FaqId"><h2>@faqitem.Question</h2> </a>*@

}


